.el-profe-de-ingls-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #F8F8F8;
}
 
.el-profe-de-ingls-frame510 {
  gap: 32px;
  width: 720px;
  height: auto;
  display: flex;
  padding: 64px;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-color: #bcbcbc;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
 
.el-profe-de-ingls-profedeingles11 {
  width: 160px;
  height: 160px;
  border-radius: 1000px;
}
 
.el-profe-de-ingls-frame48 {
  gap: 16px;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.el-profe-de-ingls-frame46 {
  gap: 10px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  border-radius: 1000px;
  justify-content: center;
  background-color: rgba(255, 191, 0, 1);
}
 
.el-profe-de-ingls-text100 {
  color: var(--dl-color-grays-black);
  height: auto;
  display: inline;
  font-size: 38px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text101 {
  font-weight: 400;
}
 
.el-profe-de-ingls-text102 {
  font-weight: 700;
}
 
.el-profe-de-ingls-text103 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 38px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text104 {
  font-weight: 700;
}
 
.el-profe-de-ingls-frame47 {
  gap: 10px;
  rotate: 2deg;
  display: flex;
  padding: 0 16px;
  align-items: center;
  border-radius: 1000px;
  justify-content: center;
  background-color: rgba(255, 0, 140, 1);
}
 
.el-profe-de-ingls-text106 {
  color: var(--dl-color-grays-white);
  height: auto;
  font-size: 38px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text107 {
  font-weight: 400;
}
 
.el-profe-de-ingls-frame33 {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  margin-top: 32px;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
}
 
.el-profe-de-ingls-frame49 {
  gap: 32px;
  display: flex;
  align-items: center;
}
 
.el-profe-de-ingls-text109 {
  color: var(--dl-color-grays-black);
  height: auto;
  font-size: 38px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame1 {
  width: 28px;
  height: 28px;
}
 
.el-profe-de-ingls-frame50 {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.el-profe-de-ingls-text110 {
  color: var(--dl-color-grays-black);
  height: auto;
  font-size: 38px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame3 {
  width: 28px;
  height: 28px;
}
 
.el-profe-de-ingls-frame51 {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.el-profe-de-ingls-text111 {
  color: var(--dl-color-grays-black);
  height: auto;
  font-size: 38px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame511 {
  gap: 32px;
  width: 720px;
  height: auto;
  display: flex;
  padding: 64px;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-color: #bcbcbc;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
 
.el-profe-de-ingls-frame55 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.el-profe-de-ingls-frame581 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text112 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame521 {
  gap: 10px;
  height: 38px;
  display: flex;
  opacity: 0.80;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: flex-end;
  background-color: rgba(187, 187, 187, 1);
}
 
.el-profe-de-ingls-text113 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame541 {
  gap: 8px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.el-profe-de-ingls-profedeingles12 {
  width: 32px;
  height: 32px;
  border-radius: 1000px;
}
 
.el-profe-de-ingls-frame611 {
  gap: 8px;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.el-profe-de-ingls-frame522 {
  gap: 10px;
  width: auto;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.el-profe-de-ingls-text114 {
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame531 {
  gap: 10px;
  width: auto;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.el-profe-de-ingls-text115 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame512 {
  gap: 64px;
  width: 720px;
  height: auto;
  display: flex;
  padding: 64px;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-color: #bcbcbc;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
 
.el-profe-de-ingls-frame591 {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.el-profe-de-ingls-frame561 {
  gap: 32px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text118 {
  color: rgba(0, 0, 0, 1);
  width: 349px;
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text119 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text120 {
  font-weight: 400;
}
 
.el-profe-de-ingls-text121 {
  font-weight: 700;
}
 
.el-profe-de-ingls-frame542 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.el-profe-de-ingls-frame582 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text123 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame523 {
  gap: 10px;
  height: 38px;
  display: flex;
  opacity: 0.80;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: flex-end;
  background-color: rgba(187, 187, 187, 1);
}
 
.el-profe-de-ingls-text124 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame571 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.el-profe-de-ingls-profedeingles13 {
  width: 32px;
  height: 32px;
  border-radius: 1000px;
}
 
.el-profe-de-ingls-frame612 {
  gap: 8px;
  width: 309px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.el-profe-de-ingls-frame524 {
  gap: 10px;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.el-profe-de-ingls-text125 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame572 {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text126 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame601 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text127 {
  color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text128 {
  font-weight: 700;
}
 
.el-profe-de-ingls-text129 {
  font-weight: 700;
}
 
.el-profe-de-ingls-text131 {
  color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text132 {
  font-weight: 700;
}
 
.el-profe-de-ingls-text133 {
  font-weight: 700;
}
 
.el-profe-de-ingls-text135 {
  color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: "Comic Neue";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame543 {
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
 
.el-profe-de-ingls-frame583 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text136 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame62 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
 
.el-profe-de-ingls-frame525 {
  gap: 10px;
  height: 38px;
  display: flex;
  opacity: 0.80;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: flex-end;
  background-color: rgba(187, 187, 187, 1);
}
 
.el-profe-de-ingls-text137 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame532 {
  gap: 10px;
  height: 38px;
  display: flex;
  opacity: 0.80;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: flex-end;
  background-color: rgba(187, 187, 187, 1);
}
 
.el-profe-de-ingls-text138 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame513 {
  gap: 64px;
  width: 720px;
  height: auto;
  display: flex;
  padding: 64px;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-color: #bcbcbc;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
 
.el-profe-de-ingls-frame592 {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.el-profe-de-ingls-frame562 {
  gap: 32px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text139 {
  color: rgba(0, 0, 0, 1);
  width: 349px;
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text140 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame584 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.el-profe-de-ingls-profedeingles14 {
  width: 32px;
  height: 32px;
  border-radius: 1000px;
}
 
.el-profe-de-ingls-frame613 {
  gap: 8px;
  width: 309px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.el-profe-de-ingls-frame526 {
  gap: 10px;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.el-profe-de-ingls-text141 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text142 {
  font-weight: 400;
}
 
.el-profe-de-ingls-text143 {
  font-weight: 700;
}
 
.el-profe-de-ingls-text144 {
  font-weight: 400;
}
 
.el-profe-de-ingls-text145 {
  font-weight: 700;
}
 
.el-profe-de-ingls-frame533 {
  gap: 10px;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.el-profe-de-ingls-text146 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame544 {
  gap: 10px;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.el-profe-de-ingls-text147 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame545 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.el-profe-de-ingls-frame585 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text148 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame527 {
  gap: 10px;
  height: 38px;
  display: flex;
  opacity: 0.80;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: flex-end;
  background-color: rgba(187, 187, 187, 1);
}
 
.el-profe-de-ingls-text149 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame514 {
  gap: 64px;
  width: 720px;
  height: auto;
  display: flex;
  padding: 64px;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-color: #bcbcbc;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
 
.el-profe-de-ingls-frame573 {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text150 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame602 {
  gap: 16px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text151 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text152 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text153 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text154 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text155 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame515 {
  gap: 64px;
  width: 720px;
  height: auto;
  display: flex;
  padding: 64px;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-color: #bcbcbc;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
 
.el-profe-de-ingls-frame574 {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text156 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame603 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-link1 {
  display: contents;
}
 
.el-profe-de-ingls-frame64 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(187, 187, 187, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame651 {
  gap: 10px;
  display: flex;
  padding: 0 0 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(187, 187, 187, 1);
  border-style: solid;
  border-width: 0 0 1px;
  flex-direction: column;
}
 
.el-profe-de-ingls-text157 {
  color: rgba(0, 0, 0, 1);
  width: 311px;
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text158 {
  color: rgb(0, 0, 0);
  width: 311px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Comic Neue";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text159 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame63 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text160 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text161 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame66 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.el-profe-de-ingls-text162 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-link2 {
  display: contents;
}
 
.el-profe-de-ingls-frame652 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(187, 187, 187, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame653 {
  gap: 10px;
  display: flex;
  padding: 0 0 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(187, 187, 187, 1);
  border-style: solid;
  border-width: 0 0 1px;
  flex-direction: column;
}
 
.el-profe-de-ingls-text163 {
  color: rgba(0, 0, 0, 1);
  width: 311px;
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text164 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text165 {
  color: rgba(0, 0, 0, 1);
  width: 311px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text166 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text167 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text168 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame67 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.el-profe-de-ingls-text169 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame586 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.el-profe-de-ingls-profedeingles15 {
  width: 32px;
  height: 32px;
  border-radius: 1000px;
}
 
.el-profe-de-ingls-frame614 {
  gap: 8px;
  width: 303px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.el-profe-de-ingls-frame528 {
  gap: 10px;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.el-profe-de-ingls-text170 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame516 {
  gap: 64px;
  width: 720px;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  padding-top: 64px;
  border-color: #bcbcbc;
  border-width: 1px;
  padding-left: 64px;
  padding-right: 64px;
  flex-direction: column;
  padding-bottom: 128px;
  justify-content: center;
  background-color: #000000;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
 
.el-profe-de-ingls-frame575 {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text171 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text172 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-frame615 {
  gap: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-container2 {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text173 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text174 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-container3 {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.el-profe-de-ingls-text184 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-text185 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-container4 {
  flex: 0 0 auto;
  width: 720px;
  bottom: 0px;
  height: auto;
  display: flex;
  position: fixed;
  align-items: flex-start;
  padding-top: 16px;
  border-color: #bcbcbc;
  border-width: 1px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
  background-color: #000000;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
 
.el-profe-de-ingls-link3 {
  display: contents;
}
 
.el-profe-de-ingls-frame2 {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 16px 32px;
  align-items: center;
  border-color: rgba(187, 187, 187, 0.6399999856948853);
  border-style: solid;
  border-width: 2px;
  border-radius: 1000px;
  justify-content: center;
  text-decoration: none;
}
 
.el-profe-de-ingls-union {
  width: 28px;
  height: 28px;
}
 
.el-profe-de-ingls-text199 {
  color: var(--dl-color-grays-white);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Hepta Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.el-profe-de-ingls-link4 {
  display: contents;
}
 
.el-profe-de-ingls-frame43 {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 16px 32px;
  align-items: center;
  border-color: rgba(187, 187, 187, 0.6399999856948853);
  border-style: solid;
  border-width: 2px;
  border-radius: 1000px;
  justify-content: center;
  text-decoration: none;
}
 
.el-profe-de-ingls-union4 {
  width: 28px;
  height: 28px;
}
 
.el-profe-de-ingls-text200 {
  color: var(--dl-color-grays-white);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Hepta Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
@media(max-width: 991px) {
  .el-profe-de-ingls-frame510 {
    width: 479px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .el-profe-de-ingls-frame511 {
    width: 479px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .el-profe-de-ingls-frame512 {
    width: 479px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .el-profe-de-ingls-text118 {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-family: Comic Neue;
    font-weight: 700;
    line-height: 38px;
    text-decoration: none;
  }
  .el-profe-de-ingls-frame513 {
    width: 479px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .el-profe-de-ingls-frame514 {
    width: 479px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .el-profe-de-ingls-frame515 {
    width: 479px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .el-profe-de-ingls-frame516 {
    width: 479px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .el-profe-de-ingls-container4 {
    width: 479px;
  }
}
 
@media(max-width: 479px) {
  .el-profe-de-ingls-frame510 {
    width: 100%;
    max-width: auto;
    align-self: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .el-profe-de-ingls-text100 {
    font-size: 32px;
  }
  .el-profe-de-ingls-text103 {
    font-size: 32px;
  }
  .el-profe-de-ingls-text106 {
    font-size: 32px;
  }
  .el-profe-de-ingls-text109 {
    font-size: 32px;
  }
  .el-profe-de-ingls-text110 {
    font-size: 32px;
  }
  .el-profe-de-ingls-text111 {
    font-size: 32px;
  }
  .el-profe-de-ingls-frame511 {
    width: 100%;
    max-width: auto;
    align-self: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .el-profe-de-ingls-frame541 {
    width: 100%;
  }
  .el-profe-de-ingls-frame611 {
    width: auto;
  }
  .el-profe-de-ingls-frame531 {
    width: 100%;
  }
  .el-profe-de-ingls-text115 {
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 20px;
    font-family: Comic Neue;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .el-profe-de-ingls-frame512 {
    width: 100%;
    max-width: auto;
    align-self: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .el-profe-de-ingls-frame591 {
    width: 100%;
  }
  .el-profe-de-ingls-text118 {
    width: auto;
  }
  .el-profe-de-ingls-frame571 {
    width: 100%;
  }
  .el-profe-de-ingls-frame612 {
    flex: 1;
    width: auto;
    flex-wrap: wrap;
  }
  .el-profe-de-ingls-frame524 {
    width: 100%;
    flex-wrap: wrap;
  }
  .el-profe-de-ingls-frame513 {
    width: 100%;
    max-width: auto;
    align-self: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .el-profe-de-ingls-text139 {
    width: auto;
  }
  .el-profe-de-ingls-frame613 {
    flex: 1;
    width: auto;
  }
  .el-profe-de-ingls-text141 {
    font-size: 20px;
  }
  .el-profe-de-ingls-text146 {
    font-size: 20px;
  }
  .el-profe-de-ingls-text147 {
    font-size: 20px;
  }
  .el-profe-de-ingls-frame514 {
    width: 100%;
    max-width: auto;
    align-self: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .el-profe-de-ingls-frame515 {
    width: 100%;
    max-width: auto;
    align-self: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .el-profe-de-ingls-frame614 {
    flex: 1;
    width: auto;
  }
  .el-profe-de-ingls-text170 {
    font-size: 20px;
  }
  .el-profe-de-ingls-frame516 {
    width: 100%;
    max-width: auto;
    align-self: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .el-profe-de-ingls-container4 {
    width: 100%;
  }
  .el-profe-de-ingls-frame2 {
    width: auto;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .el-profe-de-ingls-union {
    width: 46px;
    height: 46px;
  }
  .el-profe-de-ingls-frame43 {
    width: auto;
    padding-top: 0px;
    border-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .el-profe-de-ingls-union4 {
    width: 48px;
    height: 48px;
  }
  .el-profe-de-ingls-text200 {
    display: none;
  }
}
