@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular.woff2') format('woff2');
  font-weight: 400; /* Normal */
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('Poppins-SemiBold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
}
body{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #F8F8F8;
  font-size: 16px;
}
h1,h2,h3,p{
  margin: 0;
}
h1{
  font-size: 22px;
}
h2{
  font-size: 20px;
  font-weight: normal;
}
h3{
  font-size: 18px;
}
a{
  text-decoration: none;
  color: black;
}
svg{
  fill: #666;
  height: 22px;
}
.small{
  font-size: 14px;
}
.star{
  height: 12px;
  fill: #ffde46;
}
.stars{
  display: flex;
  align-items: center;
  gap: 2px;
}
.size_text{
  height: 16px;
}
.size_text_small{
  height: 12px;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.list_img{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}
.insta_img{
  border-radius: 8px;
  overflow: hidden;
  background-color: #ddd;
  aspect-ratio: 1 / 1;
}
.row{
  display: flex;
  align-items: center;
  gap: 8px;
}
.card{
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  position: relative;
  overflow: hidden;
  background-color: white;
}
.body{
  gap: 16px;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
}
.sub_card{
  border: 1px solid #ddd;
  display: flex;
  padding: 16px 8px;
  border-radius: 8px;
  justify-content: space-between;
  gap: 8px;
}
.p16{
  padding: 16px;
}
.items{
  display: flex;
  gap: 16px;
}
.align_items_center{
  align-items: center;
}
.flex_direction_column{
  flex-direction: column;
}
.body_sub_card{
  gap: 8px;
  display: flex;
}
.btn_card_full{
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 16px 0;
  justify-content: center;
}
.primary h1{
  font-size: 24px;
}
.cover_image{
  background-size: cover;
  background-color: #ddd;
  height: 120px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
}
.profile_image{
  width: 96px;
  height: 96px;
  background-color: #ddd;
  border-radius: 1000px;
  border: 4px solid #F8F8F8;
  margin-top: 32px;
  position: relative;
  overflow: hidden;
}
.image{
  width: 72px;
  height: 72px;
  background-color: #ddd;
  border-radius: 1000px;
  border: 4px solid #F8F8F8;
  position: relative;
  overflow: hidden;
}
.profile_image img,.cover_image img, .image img, .insta_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.flex_1{
  flex: 1;
}
.list_sub_cards{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.btn_card{
  border: 1px solid #ddd;
  width: fit-content;
  padding: 6px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}
.owner_preview{
  gap: 4px;
  display: flex;
  flex-direction: column;
}
.btn_contact{
  position: sticky;
  bottom: 0px;
  width: 100%;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  background-color: white;
  z-index: 999;
}
.btns_previews{
  display: flex;
  gap: 8px;
}
.animated_link svg {
  fill: rgb(255, 63, 130);
  animation: colorChange 3s infinite ease-in-out; 
}
/* Efecto de "brillo" */
.shine {
  width: 100%; /* Ancho del brillo */
  height: 100%; /* Alto del brillo */
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: -100%; /* Empieza fuera del contenedor */
  animation: shine-animation 1s infinite; /* Animación */
}
@keyframes shine-animation {
  0% {
      left: -100%;
  }
  100% {
      left: 100%;
  }
}
@keyframes colorChange {
  0% {
    fill: rgb(255, 196, 0);
  }
  50% {
    fill: rgb(0, 229, 255);
  }
  100% {
    fill: rgb(255, 63, 130);
  }
}
@media (max-width: 767px) {
  .container{
    width: 100%;
  }
  .btns_previews{
    flex-direction: column;
  }
}
@media (min-width: 767px) {
  .container{
    padding: 32px 0;
    width: 767px;
  }
  .card{
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  .body{
    padding: 32px;
  }
  .cover_image{
    background-color: #ddd;
    height: 220px;
  }
  .profile_image{
    width: 148px;
    height: 148px;
    margin-top: 96px;
  }
}
@media (min-width: 1280px) {
  .container{
    width: 980px;
  }
}