html,body{
  font-size:4vh;
}
h1{
  font-size: 6vw;
  line-height: 6vw;
  margin-top: 0vh;
}

.zona-principal{
  display: flex;
}
.foto-nosotros{
  display: block;
  margin-right: 1vw;
  width: 10vw;
}
.foto-nosotros img{
  border: 1vw solid #181831;
  border-radius: 100%;
}
.menu-principal{
  width: 10vw;
  left: auto;
  right: 1vw;
  display: block;
  bottom: auto;
}
.menu-principal a{
  background-color: rgba(170, 170, 195, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  border-radius: 100%;
  margin-bottom: 1vw;
  width: 6vw;
  float: right;
}
.menu-principal svg{
  width:6vw;
  height:6vw;
}
.zona-msj{
  width: 74vw;
}
.mis-msjs .msj,.mis-msjs .primer-msj{
  display: inline-block;
  background: #181831;
  max-width: 90%;
  margin-bottom: 0.5vw;
  padding: 2vw 4vw;
}

.zona-msj .ejemplos{
  margin-top: 1vw;
  width: 100vw;
  height: 40vw;
  position: relative;
  overflow: hidden;
  margin-left: -12vw;
}
.zona-msj .ejemplos img{
  height: 100%;
  position: absolute;
  left: -38%;
}
.mis-msjs .msj,.mis-msjs .primer-msj{
  margin-bottom: 0.5vw;
}
.zona-msj .mis-msjs img,.zona-msj .tus-msjs img{
  margin-bottom: 0.5vw;
  width: 16vw;
  border-radius: 1vw;
}
.tus-msjs div{
  margin-bottom: 0.5vw;
}
.msj,.btn{
  border-radius: 10vw;
}
.mis-msjs .primer-msj{
  border-radius: 0px 10vw 10vw 10vw;
}
.tus-msjs .primer-msj{
  border-radius: 10vw 0vw 10vw 10vw;
}
.pie{
  margin-bottom: auto;
}