body{
  background-image: url(https://3dicons.co/3d-gradient.svg), url(https://3dicons.co/footer-gradient.svg);
  background-position: top, bottom;
  background-repeat: no-repeat;
  background-size: 1100px auto;
}
.w150px{
  width: 150px;
}
.template-customizer-open-btn{
  display: none !important;
}
.fs-38{
  font-size: 2.5em !important;
}
.zindex-1{
  z-index: 1 !important;
}