.background-top {
  display: flex;
  justify-content: center;
  position:absolute;
  top:-6em;
  width: 100%;
}   

.punto-rgb {
  width: 50em;
  height: 12em;
  border-radius: 100%;
  filter: blur(46px);
  background: linear-gradient(to right, #FFC83A, #FF008A, #6100FF), linear-gradient(to right, #001AFF, #6EE5C2);
  background-size: 50% 100%, 50% 100%;
  background-position: left top, right top;
  background-repeat: no-repeat;
  opacity:0.6;
}

.w150px{
  width: 150px;
}
.template-customizer-open-btn{
  display: none !important;
}
.fs-38{
  font-size: 2em !important;
}
.zindex-1{
  z-index: 1 !important;
}
.transparent{
  background: transparent !important;
}
.app-brand-link{
  letter-spacing: 6px;
}
.rotate-1{
  transform: rotate(-2deg);
}
@media (orientation: portrait) {
  .app-brand-link{
    letter-spacing: 0px;
  }
  .menu-item .menu-link {
    font-size: 1.1rem;
  }
  .menu-vertical .menu-icon{
    margin-right: 26px;
  }
  
}
@media (orientation: landscape) {
  .menu-item .menu-link {
    font-size: 0.9rem;
  }
  .w-md-50{
    width: 50%;
  }
}

@font-face {
  font-family: 'Buttershine Serif';
  src: url('ButtershineSerif.woff2') format('woff2'),
       url('ButtershineSerif.woff') format('woff'),
       url('ButtershineSerif.otf') format('opentype'),
       url('ButtershineSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.accordion-body{
  font-size: 17px;
}

.mt-10{
  margin-top: 8rem;
}