html,body{
  margin:0;font-family: 'Poppins', sans-serif;
  position:relative;
  font-size:1.8vh;
  background-color: #000000;

}
a:link, a:visited, a:hover, a:active{text-decoration:none;color: #fff;}
h3,p{
  margin: 0;
}
/* start header */
header{
  padding: 1vh;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 2;
  background-color: #202C33;
  top: 0;
}
header div{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a{
  color: #8696a0 !important;
  font-weight: bold;
}
header .activo{
  color: #fff !important;
}
/* end header */
.titulos{
  display: none;
}
em{
  font-weight: lighter;
}
.texto_logo{
  display: flex;
  align-items: center;
}

/* start nav */
.nav{
  display: block;
  width: 98vw;
  height: 88vh;
  margin:8vh auto 0 auto;
  padding: 0.5vw;
  border-radius: 0.8vw;
  box-sizing: border-box; /* para que considere el padding */
  position: relative;
}
.nav > a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.8vw;
  padding: 2vw;
  margin-bottom: 0.5vw;
}
.chat_activo{
  background-color: #2A3942;
}
.nav img{
  width:7vh;
  margin-right: 2vh;
}
.nav h3{
  font-size: 1.9vh;
}
.nav a p{
  font-size: 1.9vh;
  opacity: 0.5;
  width: 60vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav h3, .nav p{
  color:#fff;
}
.info_fake .fecha{
  text-align: right;
  margin-bottom: 1vh;
}
.info_fake .fecha svg{
  width:5.5vw;
}
.info_fake .other{
  display: flex;
}
.info_fake .notification{
  width:5.5vw;
}
.nav footer{
  position: absolute;
  bottom: 2vh;
  width: 100%;
}
/* end nav */

/* start chat */
.chat{
  background: #000000;
  width: -webkit-fill-available;
  display: inline-block;
  position: relative;
  height: max-content;
}
.chat > div{
  padding: 11vh 1vh 1vh 1vh;

}
.chat:before{
  content: '';
  background-image: url(../../img/backws.webp);
  background-size: 50vh;
  width: -webkit-fill-available;
  display: block;
  opacity: 0.1;
  z-index: 0;
  position: absolute;
  top: 0;
  height: 100%;
  left:0;
}
.chat .mi_msj p{
  display: table;
}
.chat .mi_msj p,.chat .tu_msj p, .pack_imagenes{
  padding: 1vh;
  border-radius: 1vh;
  margin-bottom: 1vh;
  max-width: 80vw;
  
}
/* end chat */

/* start mensajeria */
.mensajeria{
  background: #202C33;
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
  height: 6vh;
  z-index: 2;
  -webkit-box-shadow: 0px -16px 33px 0px rgba(11,17,20,1);
 -moz-box-shadow: 0px -16px 33px 0px rgba(11,17,20,1);
 box-shadow: 0px -16px 33px 0px rgba(11,17,20,1);
 }
 .mensajeria input{
   height: 100%;
   width: inherit;
   margin-right: 2vh;
   border-radius: 1vh;
   border: 0;
   font-size: 2vh;
   padding: 2vh;
   background:#2A3942;
   color: #fff;
 }
 .mensajeria svg{
  width: 6vh;
 }
 /* end mensajeria */

/* start msjs */
.mi_msj, .tu_msj{
  margin-bottom: 2vh;
  position: relative;
  z-index: 1;
  color: #fff;
}

.mi_msj .traingulo{
  width: 0px;
  height: 0px;
  border-right: 1.5vh solid transparent;
  border-left: 1.5vh solid transparent;
  border-top: 1.5vh solid #202C33;
  float: left;
  margin-right: -1.5vh;
}
.tu_msj{
  text-align: right;
}
.tu_msj span{
  color: #00FFC8;
  display: block;
  font-weight: bold;
}

.mi_msj p, .pack_imagenes{
  background:#202C33;
  margin-left: 1vh;
}
.tu_msj p{
  background:#005C4B;
  display: inline-block;
  text-align: left;
}
.tu_msj .traingulo{
  width: 0px;
  height: 0px;
  border-right: 1vh solid transparent;
  border-left: 1vh solid transparent;
  border-top: 1vh solid #005C4B;
  float: right;
  margin-left: -1vh;
}
.chat .mi_msj > img, .chat .tu_msj > img{
  width: 30vw;
}
.mi_msj > img, .mi_msj .hora{
  margin-left: 1vh;
}
.chat .hora{
  display: inline-block;
  padding: 1vh;
  border-radius: 1vh;
  margin-top: 1vh;
  font-size: 1.5vh;
  margin-bottom: 1vh;
}
.mi_msj .hora{
  background: #202C33;
}
.tu_msj .hora{
  background: #005C4B;
}
.pack_imagenes{
  display: grid;
  justify-content: space-between;
  grid-gap: 1.2vh;
}
.pack_imagenes img{
  border-radius: 1vh;
  width: 100%;
}
.chat footer{
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 34%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(34%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 34%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 34%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 34%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 34%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
  padding: 10vh 0 20vh 0;
}

/* end msjs */

/* start footer */
footer{
  text-align: center;
  position: relative;
  z-index: 2;
  color: #fff;
}
.redes_sociales{
  width: 50vw;
  margin: 2vh auto;
  display: flex;
  justify-content: space-around;
}
.redes_sociales svg{
  width:10vw;
}
.testos_secundarios{
  opacity: 0.5;
}
/* end footer */

.icon_chat_ws{
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 999;
}