html,body{
    margin:0;font-family: 'Poppins', sans-serif;
    position:relative;
    font-size:2.6vh;
}
  a:link, a:visited, a:hover, a:active{text-decoration:none;color: #fff;}
  h3,p{
    margin: 0;
  }
  body{
    background-color: #000;
    padding: 4vw 1vw;
    overflow-x: hidden;
  }
h1{
  text-align: center;
  margin: 0;
}
h1{
  font-size: 7vw;
  line-height: normal;
    margin-top: 2vh;
}

.none{
  display: none !important;
}
.background{
    background-image: url(../../img/backws.webp);
    opacity: 0.15;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0;
    top: 0;
}
.zona-principal{
  position: relative;
}

.menu-principal{
  width: 36vw;
  position: fixed;
  left: 32vw;
  display: flex;
  justify-content:center;
  bottom: 4vw;
  z-index: 999;
}
.menu-principal a{
  background-color: rgba(170, 170, 195, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  border-radius: 100%;
  margin-bottom: 1vw;
}
.menu-principal svg{
  width:16vw;
  height:16vw;
}
.zona-msj{
  width: 98vw;
  color:#AAAAC3;
}
.zona-msj .ejemplos{
  margin: 8vw 0 2vw -1vw;
  width: 100vw;
  height: 60vw;
  position: relative;
  overflow: hidden;
}
.zona-msj .ejemplos img{
  height: 100%;
  position: absolute;
  left: -82%;
}
.zona-msj b{
  color: #fff;
}
.mis-msjs .msj,.mis-msjs .primer-msj{
  display: inline-block;
  background: #181831;
  max-width: 90vw;
  margin-bottom: 1vw;
  padding: 2vw 4vw;
}
.mis-msjs .primer-msj{
  border-radius: 0px 5vw 5vw 5vw;
}
.tus-msjs{
  margin: 2vw 0;
  text-align: right;
}
.tus-msjs div{
  display: inline-block;
  background: #4D4D6F;
  max-width: 80%;
  margin-bottom: 1vw;
  padding: 2vw 4vw;
  text-align: right;
}
.tus-msjs .primer-msj{
  border-radius: 5vw 0vw 5vw 5vw;
}
.msj,.btn{
  border-radius: 5vw;
}
.msj a{
  font-weight: bold;
}
.zona-msj .mis-msjs img,.zona-msj .tus-msjs img{
  margin-bottom: 2vw;
  width: 32vw;
  border-radius: 2vw;
}
.btn{
  display: block;
  margin-bottom: 0.5vw;
  padding: 2vw 4vw;
  background-color: #36BABF;
  color: #fff;
  font-weight: bold;
  text-align: center;
 }
.cabeza{
  margin-top: 2vw;
  text-align: center;
  margin-bottom: 2vw;
}
.pie{
  margin: 2vw;
  text-align: center;
}
.pie img{
  border: 1vw solid #181831;
  border-radius: 100% !important;
}
.transparente{
  background: transparent !important;
}
.color_blanco{
  color: #fff !important;
}
.color_negro{
  color: #000 !important;
}
.amarillo{
  background: #FFFF00 !important;
}
.color_amarillo{
  color: #FFFF00 !important;
}
.borde_amarillo{
  border-color: #FFFF00 !important;
}
.borde_negro{
  border: 0.3vw solid #000;
}
.borde_blanco{
  border: 0.3vw solid #fff;
}
.azul{
  background: #00FFFF !important;
}
.color_azul{
  color: #00FFFF !important;
}
.rojo{
  background: #FF00FF !important;
}
.color_rojo{
  color: #FF00FF !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 48.8vw 48.8vw ;
  gap: 0.4vw;
  margin-bottom: 10vw;
  justify-content: center;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 1vw;
  padding: 1vw;
}
.preview{
  display: inline-block;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1vw;
  width:99%;
}

.grid-item1{
  grid-column: 1/3;
}
.grid-item4{
  grid-row: 3/5;
}
.grid-item6{
  grid-column: 2/2;
  grid-row: 3/4;
}
.grid-item7{
  grid-row: 4/5;
}
.grid-item8{
  grid-column: 1/1;
  grid-row:5/5;
}
.grid-item10{
  grid-column: 2/2;
  grid-row:5/5;
}

.grid-item1 .preview{
  background-image: url(../../img_proyectos/ShopBicicletas.webp);
  background-size: 100%;
  height: 71vw;
}
.grid-item2 .preview{
  background-image: url(../../img_proyectos/ShopStarWars.webp);
  background-size: 102%;
  height: 34vw;
}
.grid-item3 .preview{
  background-image: url(../../img_proyectos/EmojiesReview.webp);
  background-size: 102%;
  height: 34vw;
}
.grid-item4 .preview{
  background-image: url(../../img_proyectos/VeganMusicApp.webp);
  background-size: 100%;
  height: 90vw;
}
.grid-item5 .preview{
  background-image: url(../../img_proyectos/AnimadosBotonesDescarga.webp);
  background-size: 102%;
  height: 22.1vw;
}
.grid-item6 .preview{
  background-image: url(../../img_proyectos/MusicListApp.webp);
  background-size: 102%;
  height: 44.6vw;
}
.grid-item7 .preview{
  background-image: url(../../img_proyectos/AnimandoLogotiposDineyPlus.webp);
  background-size: 102%;
  height: 42.4vw;
}
.grid-item8 .preview{
  background-image: url(../../img_proyectos/CarritoVegano.webp);
  background-size: 102%;
  height: 34.4vw;
}
.grid-item9 .preview{
  background-image: url(../../img_proyectos/PaisajesGaleria.webp);
  background-size: 100%;
  height: 22.1vw;
}
.grid-item10 .preview{
  background-image: url(../../img_proyectos/LandingEfectoParallax.webp);
  background-size: 102%;
  height: 34.4vw;
}
.grid-item11 .preview{
  background-image: url(../../img_proyectos/EfectoHighLucasZanottosArnold.webp);
  background-size: 102%;
  height: 46.4vw;
}
.grid-item12 .preview{
  background-image: url(../../img_proyectos/RubikPaPensar.webp);
  background-size: 102%;
  background-position: top;
  height: 46.4vw;
}