---
import Temporal from "../layouts/Temporal.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `Temporals` directories, and start fresh.
---

<Temporal>
    <div class="separante1"></div>

    <div class="contenedor-mascara">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="svg-mascara"
            fill="none"
            viewBox="0 0 112 111"
        >
            <path fill="#000" d="M111.95 111H.95V0h111v111ZM52 52v8h8v-8h-8Z"
            ></path>
        </svg>
    </div>

    <div class="contenedor-contenido-mascarado d-flex justify-content-center">
        <div class="contenido-mascarado">
            <div class="contenido">
                <!-- contenido visible solo dentro del SVG -->
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ... Hola
                mundo chao y bueno adios tambien xq quiero er
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ... Hola
                mundo chao y bueno adios tambien xq quiero er
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ... Hola
                mundo chao y bueno adios tambien xq quiero er
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ... Hola
                mundo chao y bueno adios tambien xq quiero er
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ... Hola
                mundo chao y bueno adios tambien xq quiero er
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ... Hola
                mundo chao y bueno adios tambien xq quiero er

            </div>
        </div>
    </div>

    <div class="separante2"></div>
    <style>
        .contenedor-mascara {
            background-color: rgba(253, 176, 253, 0.5);
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
        }

        .svg-mascara {
            width: 100vh;
            transform: scale(100);
        }

        .contenido-mascarado {
            height: 400px;
            background-color: #fa0;
            width: 100vw;
            overflow: hidden;
            z-index: 1;
        }
        .separante1 {
            background-color: #2332ff;
            width: 50vw;
            height: 100vh;
            position: absolute;
        }
        .separante2 {
            background-color: #94ff94;
            width: 50vw;
            height: 100vh;
        }
        .contenido{
            width: 100vw;    
            position: absolute;
            left: 0;    
        }
    </style>
</Temporal>

<script>
    import { gsap } from "gsap";
    import { GSDevTools } from "gsap/GSDevTools";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(GSDevTools);
    gsap.registerPlugin(ScrollTrigger);

    gsap.to(".svg-mascara", {
        scrollTrigger: {
            trigger: ".separante1",
            start: "top top",
            end: "25% 10% ",
            scrub: 4,
            markers: true,
        },
        scale: 1,
    });

    gsap.to(".contenido-mascarado", {
        scrollTrigger: {
            trigger: ".separante1",
            start: "top top",
            end: "25% 10% ",
            scrub: 4,
            markers: true,
        },
        width: "10vw",
    });

    //GSDevTools.create();
</script>
