---
import Temporal from "../layouts/Temporal.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `Temporals` directories, and start fresh.
---

<Temporal>
    <div class="mascara_divider_1"></div>
    <div class="mascara_container_puzzle">
        <div class="mascara_puzzle_background"></div>
    </div>
    <div class="mascara_content_container justify-center align-end">
        <div class="mascara_content">
            <div class="mascara_contenido_tarjeta_1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...
                Hola mundo chao y bueno adios tambien xq quiero er Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. ... Hola mundo chao
                y bueno adios tambien xq quiero er Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. ... Hola mundo chao y bueno adios
                tambien xq quiero er Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. ... Hola mundo chao y bueno adios tambien xq
                quiero er Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. ... Hola mundo chao y bueno adios tambien xq quiero er
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...
                Hola mundo chao y bueno adios tambien xq quiero er Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. ... Hola mundo chao
                y bueno adios tambien xq quiero er Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. ... Hola mundo chao y bueno adios
                tambien xq quiero er Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. ... Hola mundo chao y bueno adios tambien xq
                quiero er Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. ... Hola mundo chao y bueno adios tambien xq quiero er
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...
                Hola mundo chao y bueno adios tambien xq quiero er Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. ... Hola mundo chao
                y bueno adios tambien xq quiero er Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. ... Hola mundo chao y bueno adios
                tambien xq quiero er Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. ... Hola mundo chao y bueno adios tambien xq
                quiero er Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. ... Hola mundo chao y bueno adios tambien xq quiero er
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...
                Hola mundo chao y bueno adios tambien xq quiero er Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. ... Hola mundo chao
                y bueno adios tambien xq quiero er Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. ... Hola mundo chao y bueno adios
                tambien xq quiero er Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. ... Hola mundo chao y bueno adios tambien xq
                quiero er Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. ... Hola mundo chao y bueno adios tambien xq quiero er
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...
                Hola mundo chao y bueno adios tambien xq quiero er Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. ... Hola mundo chao
                y bueno adios tambien xq quiero er Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. ... Hola mundo chao y bueno adios
                tambien xq quiero er Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. ... Hola mundo chao y bueno adios tambien xq
                quiero er Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. ... Hola mundo chao y bueno adios tambien xq quiero er
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...
                Hola mundo chao y bueno adios tambien xq quiero er Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. ... Hola mundo chao
                y bueno adios tambien xq quiero er Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. ... Hola mundo chao y bueno adios
                tambien xq quiero er Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. ... Hola mundo chao y bueno adios tambien xq
                quiero er Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. ... Hola mundo chao y bueno adios tambien xq quiero er
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...
                Hola mundo chao y bueno adios tambien xq quiero er Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. ... Hola mundo chao
                y bueno adios tambien xq quiero er Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. ... Hola mundo chao y bueno adios
                tambien xq quiero er Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. ... Hola mundo chao y bueno adios tambien xq
                quiero er Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. ... Hola mundo chao y bueno adios tambien xq quiero er
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...
                Hola mundo chao y bueno adios tambien xq quiero er
            </div>
            <div class="mascara_puzzle_piece_background"></div>
        </div>
    </div>
    <div class="container mascara_tarjeta_2">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <h1 class="text-white text-center fw-bold display-1">
                    Soy la persona que buscas. . .
                </h1>
            </div>
        </div>
    </div>
</Temporal>
<style>
    .mascara_tarjeta_2 {
        margin-top: -35vh;
        position: relative;
        z-index: 2;
    }
    .mascara_puzzle_piece_background {
        position: absolute;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        top: 0;
        left: 0;
        background: -webkit-linear-gradient(
            137deg,
            rgba(255, 135, 9, 1) 0%,
            rgba(255, 135, 9, 1) 38%,
            rgba(247, 189, 248, 1) 64%,
            rgba(247, 189, 248, 1) 100%
        );
        background: -moz-linear-gradient(
            137deg,
            rgba(255, 135, 9, 1) 0%,
            rgba(255, 135, 9, 1) 38%,
            rgba(247, 189, 248, 1) 64%,
            rgba(247, 189, 248, 1) 100%
        );
        background: linear-gradient(
            137deg,
            rgba(255, 135, 9, 1) 0%,
            rgba(255, 135, 9, 1) 38%,
            rgba(247, 189, 248, 1) 64%,
            rgba(247, 189, 248, 1) 100%
        );
        opacity: 0;
    }
    .mascara_content_container {
        height: 150vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }
    .mascara_divider_1 {
        width: 100vw;
        height: 150vh;
    }
    .mascara_container_puzzle {
        height: 150vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }
    .mascara_puzzle_background {
        width: 100vw;
        height: 100vh;
        position: sticky;
        top: 0;
        left: 0;
        background-image: url("/assets/puzzle.svg");
        background-size: 100vw;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
    }
    .mascara_content {
        width: 100vw;
        height: 100vh;
        position: sticky;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 1;
        background-color: white;
        mask-image: url("/assets/VIstack.fe9b0515.svg");
        -webkit-mask-size: auto 1300vh;
        mask-size: auto 1300vh;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-origin: content-box;
        mask-origin: content-box;
    }
    @media (orientation: landscape) {
        .mascara_content {
            -webkit-mask-size: 1300vw auto;
            mask-size: 1300vw auto;
        }
        .mascara_tarjeta_2 {
            margin-top: -15vh;
        }
    }
    .mascara_contenido_tarjeta_1 {
        width: 100vw;
        position: absolute;
        left: 0;
        height: 100vh;
        background-color: #fff;
    }
</style>

<script>
    import { gsap } from "gsap";
    import { GSDevTools } from "gsap/GSDevTools";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(GSDevTools);
    gsap.registerPlugin(ScrollTrigger);

    gsap.to(".mascara_content", {
        scrollTrigger: {
            trigger: ".mascara_divider_1",
            start: "top top",
            end: "25% 10% ",
            scrub: 4,
            //markers: true,
        },
        maskSize: "100vw auto",
        webkitMaskSize: "100vw auto",
    });

    gsap.to(".mascara_puzzle_background", {
        scrollTrigger: {
            trigger: ".mascara_divider_1",
            start: "35% 10%",
            end: "45%",
            scrub: 2,
            //markers: true,
        },
        opacity: 1,
    });

    gsap.to(".mascara_contenido_tarjeta_1", {
        scrollTrigger: {
            trigger: ".mascara_divider_1",
            start: "5% top",
            end: "25% 10% ",
            scrub: 2,
            //markers: true,
        },
        scale: 0.6,
        opacity: 0,
    });
    gsap.to(".mascara_puzzle_piece_background", {
        scrollTrigger: {
            trigger: ".mascara_divider_1",
            start: "5% top",
            end: "25% 10% ",
            scrub: 2,
            //markers: true,
        },
        opacity: 1,
    });

    //GSDevTools.create();
</script>
