---
import Temporal from "../layouts/Temporal.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `Temporals` directories, and start fresh.
---

<Temporal>
    <div class="separante1"></div>
        <div class="box"></div>

    <div class="separante2"></div>
</Temporal>

<style>
    .separante1{
        background-color: #2332ff;
        width: 50vw;
        height: 100vh;
    }
    .separante2{
        background-color: #94ff94;
        width: 50vw;
        height: 100vh;
    }
    .box {
        width: 100px;
        height: 100px;
        background-color: #000000;
        transform: scale(100);
    }
</style>
<script>
    import { gsap } from "gsap";
    import { GSDevTools } from "gsap/GSDevTools";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(GSDevTools);
gsap.registerPlugin(ScrollTrigger);


    gsap.to('.box', {
    scrollTrigger: {
        trigger: '.separante1',
        scrub: true,
        markers: true
    }, // start animation when ".box" enters the viewport
    scale: 1,
});

    //GSDevTools.create();
</script>
