---
import "./alturas.css";
import "./borde_rainbow.css";
---

<div class="card border col-12 col-md-9 mt-3 mt-md-5 tarjeta_1 overflow-hidden">
	<div class="contenedor_banner">
		<div class="container_img_banner">
			<img
				src="https://firebasestorage.googleapis.com/v0/b/mosqueda-cordova-992b2.firebasestorage.app/o/cover_image2.webp?alt=media&token=507b112d-7c95-43d5-b06c-59b240468bd5"
				alt="Banner"
				class="img_banner"
			/>
		</div>
	</div>
	<div class="card-body contenedor_cuerpo_tarjeta_previa_animacion">
		<div class="profile_image"></div>
		<div class="cuerpo_tarjeta_previa_animacion">
			<div class="row gap-2 my-3">
				<div class="d-flex gap-1 align-items-center">
					<h1 class="fs-3 mb-0 fw-bold">Isaac Mosqueda</h1>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						class="svgEspecial"
						viewBox="0 0 41 40"
						><path
							fill="url(#a)"
							fill-opacity=".3"
							stroke="url(#b)"
							stroke-linecap="round"
							stroke-width="2.5"
							d="M35.5 18.6v-4.8c0-2.7 0-4.1-.7-5-.6-.9-2.2-1.3-5.2-2.2-2.1-.6-4-1.3-5.4-2-2-.8-3-1.3-3.7-1.3-.7 0-1.7.5-3.7 1.4a41 41 0 0 1-5.4 2c-3 .8-4.6 1.2-5.2 2.1-.7.9-.7 2.3-.7 5v4.8c0 9.4 8.4 15 12.7 17.3 1 .5 1.5.8 2.3.8.8 0 1.3-.3 2.3-.8 4.3-2.3 12.7-7.9 12.7-17.3Z"
						></path><path
							stroke="#00795D"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2.5"
							d="M15.5 21.7s1.7 0 3.3 3.3c0 0 5.3-8.3 10-10"
						></path><defs
							><linearGradient
								id="a"
								x1="20.5"
								x2="20.5"
								y1="3.3"
								y2="36.7"
								gradientUnits="userSpaceOnUse"
								><stop stop-color="#00FF6F" stop-opacity=".4"
								></stop><stop offset="1" stop-color="#0FC"
								></stop></linearGradient
							><linearGradient
								id="b"
								x1="20.5"
								x2="20.5"
								y1="3.3"
								y2="36.7"
								gradientUnits="userSpaceOnUse"
								><stop stop-color="#00CD89"></stop><stop
									offset="1"
									stop-color="#029A67"></stop></linearGradient
							></defs
						></svg
					>
				</div>
				<h2 class="fs-5 text-body fw-normal">
					Ing. de Sistemas | Especializado en desarrollo de software
				</h2>
			</div>

			<div class="d-flex flex-column gap-1">
				<div class="d-flex gap-2 align-items-center">
					<strong>4.8</strong>
					<div class="stars">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="star"
							viewBox="0 0 22 22"
							><path
								d="M11 0c.6 0 1.8.3 2.6 2l1.8 3.5a1.2 1.2 0 0 0 .7.6l3.2.5a3 3 0 0 1 2.6 2 3 3 0 0 1-1 3l-2.5 2.5a1.2 1.2 0 0 0-.3.9l.7 3a3.5 3.5 0 0 1-.4 3.2 2.2 2.2 0 0 1-1.7.8 4.4 4.4 0 0 1-2.2-.7l-3-1.8a1 1 0 0 0-.5-.1 1 1 0 0 0-.5.1l-3 1.8a4.3 4.3 0 0 1-2.2.7 2.2 2.2 0 0 1-1.7-.8 3.5 3.5 0 0 1-.4-3.1l.7-3.1a1.2 1.2 0 0 0-.3-.9l-2.5-2.5a3.1 3.1 0 0 1-1-3.1 3 3 0 0 1 2.6-1.9L6 6.1a1.2 1.2 0 0 0 .7-.5L8.4 2c.8-1.7 2-2 2.6-2Z"
								data-name="Path 14"></path></svg
						>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="star"
							viewBox="0 0 22 22"
							><path
								d="M11 0c.6 0 1.8.3 2.6 2l1.8 3.5a1.2 1.2 0 0 0 .7.6l3.2.5a3 3 0 0 1 2.6 2 3 3 0 0 1-1 3l-2.5 2.5a1.2 1.2 0 0 0-.3.9l.7 3a3.5 3.5 0 0 1-.4 3.2 2.2 2.2 0 0 1-1.7.8 4.4 4.4 0 0 1-2.2-.7l-3-1.8a1 1 0 0 0-.5-.1 1 1 0 0 0-.5.1l-3 1.8a4.3 4.3 0 0 1-2.2.7 2.2 2.2 0 0 1-1.7-.8 3.5 3.5 0 0 1-.4-3.1l.7-3.1a1.2 1.2 0 0 0-.3-.9l-2.5-2.5a3.1 3.1 0 0 1-1-3.1 3 3 0 0 1 2.6-1.9L6 6.1a1.2 1.2 0 0 0 .7-.5L8.4 2c.8-1.7 2-2 2.6-2Z"
								data-name="Path 14"></path></svg
						>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="star"
							viewBox="0 0 22 22"
							><path
								d="M11 0c.6 0 1.8.3 2.6 2l1.8 3.5a1.2 1.2 0 0 0 .7.6l3.2.5a3 3 0 0 1 2.6 2 3 3 0 0 1-1 3l-2.5 2.5a1.2 1.2 0 0 0-.3.9l.7 3a3.5 3.5 0 0 1-.4 3.2 2.2 2.2 0 0 1-1.7.8 4.4 4.4 0 0 1-2.2-.7l-3-1.8a1 1 0 0 0-.5-.1 1 1 0 0 0-.5.1l-3 1.8a4.3 4.3 0 0 1-2.2.7 2.2 2.2 0 0 1-1.7-.8 3.5 3.5 0 0 1-.4-3.1l.7-3.1a1.2 1.2 0 0 0-.3-.9l-2.5-2.5a3.1 3.1 0 0 1-1-3.1 3 3 0 0 1 2.6-1.9L6 6.1a1.2 1.2 0 0 0 .7-.5L8.4 2c.8-1.7 2-2 2.6-2Z"
								data-name="Path 14"></path></svg
						>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="star"
							viewBox="0 0 22 22"
							><path
								d="M11 0c.6 0 1.8.3 2.6 2l1.8 3.5a1.2 1.2 0 0 0 .7.6l3.2.5a3 3 0 0 1 2.6 2 3 3 0 0 1-1 3l-2.5 2.5a1.2 1.2 0 0 0-.3.9l.7 3a3.5 3.5 0 0 1-.4 3.2 2.2 2.2 0 0 1-1.7.8 4.4 4.4 0 0 1-2.2-.7l-3-1.8a1 1 0 0 0-.5-.1 1 1 0 0 0-.5.1l-3 1.8a4.3 4.3 0 0 1-2.2.7 2.2 2.2 0 0 1-1.7-.8 3.5 3.5 0 0 1-.4-3.1l.7-3.1a1.2 1.2 0 0 0-.3-.9l-2.5-2.5a3.1 3.1 0 0 1-1-3.1 3 3 0 0 1 2.6-1.9L6 6.1a1.2 1.2 0 0 0 .7-.5L8.4 2c.8-1.7 2-2 2.6-2Z"
								data-name="Path 14"></path></svg
						>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="star"
							viewBox="0 0 22 22"
							><path
								d="M11 0c.6 0 1.8.3 2.6 2l1.8 3.5a1.2 1.2 0 0 0 .7.6l3.2.5a3 3 0 0 1 2.6 2 3 3 0 0 1-1 3l-2.5 2.5a1.2 1.2 0 0 0-.3.9l.7 3a3.5 3.5 0 0 1-.4 3.2 2.2 2.2 0 0 1-1.7.8 4.4 4.4 0 0 1-2.2-.7l-3-1.8a1 1 0 0 0-.5-.1 1 1 0 0 0-.5.1l-3 1.8a4.3 4.3 0 0 1-2.2.7 2.2 2.2 0 0 1-1.7-.8 3.5 3.5 0 0 1-.4-3.1l.7-3.1a1.2 1.2 0 0 0-.3-.9l-2.5-2.5a3.1 3.1 0 0 1-1-3.1 3 3 0 0 1 2.6-1.9L6 6.1a1.2 1.2 0 0 0 .7-.5L8.4 2c.8-1.7 2-2 2.6-2Z"
								data-name="Path 14"></path></svg
						>
					</div>
					<div>en Google</div>
				</div>
				<a
					href="https://www.linkedin.com/in/mosquedacordova/"
					class="d-flex gap-2 align-items-center"
					target="_blank"
				>
					<strong>Linkedin</strong>
					<span>•</span> mosquedacordova
					<svg viewBox="0 0 27 28" width="1.2rem" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 14c0-2.8 0-5.02.23-6.77.24-1.78.75-3.26 1.92-4.42a6.66 6.66 0 0 1 3.54-1.77c1.35-.28 3-.35 4.96-.37a1.33 1.33 0 1 1 .03 2.66c-1.96.02-3.38.1-4.46.32-1.05.21-1.7.55-2.19 1.04-.59.6-.96 1.41-1.16 2.9-.2 1.52-.2 3.54-.2 6.4 0 2.87 0 4.89.2 6.41.2 1.5.57 2.3 1.16 2.9.6.59 1.41.96 2.9 1.16 1.52.2 3.54.2 6.4.2 2.87 0 4.9 0 6.42-.2 1.48-.2 2.3-.57 2.9-1.16.48-.5.82-1.14 1.03-2.19.22-1.08.3-2.5.32-4.46a1.33 1.33 0 0 1 2.67.03 28 28 0 0 1-.38 4.97 6.67 6.67 0 0 1-1.76 3.53c-1.17 1.17-2.65 1.68-4.43 1.92-1.74.24-3.97.23-6.76.23-2.8 0-5.02 0-6.77-.23-1.78-.24-3.25-.75-4.42-1.92C.98 24.02.47 22.54.23 20.76 0 19.02 0 16.79 0 14Zm12.94 2.28a1.33 1.33 0 0 1-1.88-1.89l1.88 1.89ZM24 11.33V5.22L12.93 16.28l-.94-.95-.94-.94L22.1 3.34H16a1.33 1.33 0 1 1 0-2.67h5.33c.9 0 1.72 0 2.38.08.69.1 1.4.31 1.98.9.58.57.8 1.29.9 1.98.06.49.07 1.07.08 1.71v6a1.33 1.33 0 1 1-2.67 0Z" fill="#6c7a87"/></svg>
				</a>
				<div class="d-flex gap-2 align-items-center">
					<svg viewBox="0 0 28 30" width="1.2rem" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 .3c5.2 0 10.2 3.1 12.3 8 2 4.6.9 8.5-1.3 11.8-2 3.2-5.4 6-8 8.4a4.5 4.5 0 0 1-6 0C8.3 26 5 23.3 3 20A11.7 11.7 0 0 1 1.7 8.3c2-4.9 7-8 12.3-8ZM14 3C9.8 3 5.8 5.5 4.1 9.4c-1.5 3.5-.7 6.4 1.1 9.2 1.9 2.9 4.8 5.3 7.6 8a1.8 1.8 0 0 0 2.4 0l2.1-2c2-2 4-3.9 5.5-6 1.8-2.8 2.6-5.7 1-9.2A10.8 10.8 0 0 0 14 3Z" fill="#6c7a87"/><path d="M17.3 13.7a3.3 3.3 0 1 0-6.6 0 3.3 3.3 0 0 0 6.6 0Zm2.7 0a6 6 0 1 1-12 0 6 6 0 0 1 12 0Z" fill="#6c7a87"/></svg>
					Lima <span>•</span> Perú
				</div>
			</div>

			<div class="d-flex flex-column flex-md-row gap-2 mt-4">
				<a
					href="/assets/PDF_Isaac_Mosqueda.pdf"
					download
					class="btn btn-outline-primary"
					target="_blank"
				>
					<div class="d-flex gap-1 align-items-center">
						<svg viewBox="0 0 30 30" width="1.6rem" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27 15a12 12 0 1 0-24 0 12 12 0 0 0 24 0Zm2.7 0A14.7 14.7 0 1 1 .3 15a14.7 14.7 0 0 1 29.4 0Z" fill="#6c7a87"/><path d="M13.7 9a1.3 1.3 0 0 1 2.6 0v9.4a26.4 26.4 0 0 0 2.8-3.3l.1-.2.1-.1a1.3 1.3 0 0 1 2.1 1.7l-.2.2a48.6 48.6 0 0 1-3.9 4.5 7 7 0 0 1-1 .7c-.3.2-.8.4-1.3.4s-1-.2-1.3-.4a21.6 21.6 0 0 1-4.4-4.6 50.8 50.8 0 0 1-.7-.8l2.1-1.6.2.2a45.8 45.8 0 0 0 2.8 3.3V9Zm-4.8 5.6c.6-.4 1.4-.3 1.8.3l-2.1 1.6c-.4-.6-.3-1.5.3-2Z" fill="#6c7a87"/></svg>
						Descargar PDF
					</div>
				</a>
				<a
					href="https://api.whatsapp.com/send?phone=51945692831"
					class="btn btn-outline-primary"
					target="_blank"
				>
					<div class="d-flex gap-1 align-items-center">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							class="svgBtn"
							viewBox="0 0 40 40"
							><path
								fill="#FF6C6C"
								stroke="#FF4646"
								stroke-width="2.5"
								d="M20 36.7a16.7 16.7 0 1 0 0-33.4 16.7 16.7 0 0 0 0 33.4Z"
							></path><path
								stroke="#fff"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="3.3"
								d="M20 25h0"></path><path
								stroke="#fff"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2.5"
								d="M20 20v-6.7"></path></svg
						>
						Disponible para Urgencias
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="alerta_scroll text-center mt-5 fs-1">
	¡No hagas Scroll..!
	<div class="icon_alerta_scroll">
		<svg viewBox="0 0 30 30" width="2.2rem" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27 15a12 12 0 1 0-24 0 12 12 0 0 0 24 0Zm2.7 0A14.7 14.7 0 1 1 .3 15a14.7 14.7 0 0 1 29.4 0Z" fill="#6c7a87"/><path d="M13.7 9a1.3 1.3 0 0 1 2.6 0v9.4a26.4 26.4 0 0 0 2.8-3.3l.1-.2.1-.1a1.3 1.3 0 0 1 2.1 1.7l-.2.2a48.6 48.6 0 0 1-3.9 4.5 7 7 0 0 1-1 .7c-.3.2-.8.4-1.3.4s-1-.2-1.3-.4a21.6 21.6 0 0 1-4.4-4.6 50.8 50.8 0 0 1-.7-.8l2.1-1.6.2.2a45.8 45.8 0 0 0 2.8 3.3V9Zm-4.8 5.6c.6-.4 1.4-.3 1.8.3l-2.1 1.6c-.4-.6-.3-1.5.3-2Z" fill="black"/></svg>
	</div>
</div>

<style>
	.cuerpo_tarjeta_previa_animacion {
		overflow: hidden;
	}
	.svgBtn {
		fill: none !important;
		height: 28px;
		width: 28px;
	}
	.svgEspecial {
		fill: none !important;
		height: 34px;
		width: 34px;
	}
	.star {
		height: 12px;
		fill: #ffde46;
	}
	.stars {
		display: flex;
		align-items: center;
		gap: 2px;
		position: relative;
		overflow: hidden;
	}

	/* Efecto de "brillo" */
	.shine,
	.stars::after {
		width: 100%; /* Ancho del brillo */
		height: 100%; /* Alto del brillo */
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 100%
		);
		position: absolute;
		top: 0;
		left: -100%; /* Empieza fuera del contenedor */
	}
	.shine {
		animation: shine-animation 1s infinite; /* Animación */
	}
	.stars::after {
		animation: shine-animation 2s infinite; /* Animación */
		content: " ";
	}
	.profile_image {
		width: 96px;
		height: 96px;
		background-color: #ddd;
		background-image: url("/assets/yo.webp");
		background-size: cover;
		border-radius: 1000px;
		border: 3px solid #f8f8f8;
		margin-top: -64px;
		position: relative;
		overflow: hidden;
	}
	@keyframes shine-animation {
		0% {
			left: -100%;
		}
		100% {
			left: 100%;
		}
	}
	.box {
		display: flex;
		gap: 2px;
		flex-direction: column;
		width: 30px;
		height: 100vh;
		flex-shrink: 0;
		transform: translateY(100vh);
	}
	.contenedor_banner {
		height: 120px;
		background-color: #000;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		position: relative;
	}
	.container_img_banner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.container_img_banner img {
		width: 100%;
		object-fit: cover;
		position: absolute;
		right: 0;
	}
	.banner {
		height: 600px;
		width: 140%;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2px;
		position: absolute;
	}
	.img_portfolio {
		width: 100%;
		background-color: #f4f4f4;
		border-radius: 2px;
		flex-shrink: 0;
		overflow: hidden;
		display: flex;
		align-items: end;
	}

	@media (min-width: 767px) {
		.profile_image {
			width: 148px;
			height: 148px;
			margin-top: -96px;
		}
		.img_portfolio {
			border-radius: 4px;
		}
		.contenedor_banner {
			height: 220px;
		}
		.box {
			width: 100px;
			gap: 4px;
		}
		.banner {
			gap: 4px;
		}
	}
</style>

<script>

	import { gsap } from "gsap";

	const tl1 = gsap.timeline({ id: "timeline1" });
	tl1
		.to("body", {
			overflow: "auto",
			duration: 0,
		})
		.to("html", {
			overflow: "auto",
			duration: 0,
		})
		.to(".contenedor_fuera_de_mascara", {
			display: "flex",
			duration: 0,
		})
		.to(".icon_alerta_scroll", {
			y: "16",
			duration: 0.5,
			repeat: -1,
			yoyo: true,
			ease: "power1.in",
		});


</script>
