---
import "./alturas.css";
import "./borde_rainbow.css";
---

<div class="card border col-12 col-md-9 mt-3 mt-md-5 tarjeta_1">
	<div class="contenedor_banner">
		<div class="banner">
			<div class="box">
				<div class="img_portfolio" data-altura="1"></div>
				<div class="img_portfolio" data-altura="2"></div>
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="8"></div>
				<div class="img_portfolio" data-altura="9"></div>
				<div class="img_portfolio" data-altura="10"></div>
			</div>
			<div class="box">
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="1"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="2"></div>
				<div class="img_portfolio" data-altura="9"></div>
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="10"></div>
				<div class="img_portfolio" data-altura="8"></div>
			</div>
			<div class="box">
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="1"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="10"></div>
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="9"></div>
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="2"></div>
				<div class="img_portfolio" data-altura="8"></div>
				<div class="img_portfolio" data-altura="5"></div>
			</div>
			<div class="box">
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="9"></div>
				<div class="img_portfolio" data-altura="2"></div>
				<div class="img_portfolio" data-altura="10"></div>
				<div class="img_portfolio" data-altura="1"></div>
				<div class="img_portfolio" data-altura="8"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="7"></div>
			</div>
			<div class="box">
				<div class="img_portfolio" data-altura="10"></div>
				<div class="img_portfolio" data-altura="2"></div>
				<div class="img_portfolio" data-altura="8"></div>
				<div class="img_portfolio" data-altura="1"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="9"></div>
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="5"></div>
			</div>
			<div class="box">
				<div class="img_portfolio" data-altura="9"></div>
				<div class="img_portfolio" data-altura="1"></div>
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="2"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="8"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="10"></div>
			</div>
			<div class="box">
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="9"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="9"></div>
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="2"></div>
			</div>
			<div class="box">
				<div class="img_portfolio" data-altura="2"></div>
				<div class="img_portfolio" data-altura="9"></div>
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="8"></div>
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="1"></div>
				<div class="img_portfolio" data-altura="10"></div>
			</div>
			<div class="box">
				<div class="img_portfolio" data-altura="1"></div>
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="9"></div>
				<div class="img_portfolio" data-altura="10"></div>
				<div class="img_portfolio" data-altura="8"></div>
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="2"></div>
			</div>
			<div class="box">
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="2"></div>
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="8"></div>
				<div class="img_portfolio" data-altura="6"></div>
			</div>
			<div class="box">
				<div class="img_portfolio" data-altura="1"></div>
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="10"></div>
				<div class="img_portfolio" data-altura="8"></div>
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="2"></div>
				<div class="img_portfolio" data-altura="1"></div>
			</div>
			<div class="box">
				<div class="img_portfolio" data-altura="2"></div>
				<div class="img_portfolio" data-altura="9"></div>
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="8"></div>
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="10"></div>
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="1"></div>
			</div>
			<div class="box">
				<div class="img_portfolio" data-altura="10"></div>
				<div class="img_portfolio" data-altura="9"></div>
				<div class="img_portfolio" data-altura="8"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="2"></div>
				<div class="img_portfolio" data-altura="1"></div>
			</div>
			<div class="box">
				<div class="img_portfolio" data-altura="8"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="10"></div>
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="2"></div>
				<div class="img_portfolio" data-altura="9"></div>
				<div class="img_portfolio" data-altura="1"></div>
			</div>
			<div class="box">
				<div class="img_portfolio" data-altura="1"></div>
				<div class="img_portfolio" data-altura="3"></div>
				<div class="img_portfolio" data-altura="5"></div>
				<div class="img_portfolio" data-altura="7"></div>
				<div class="img_portfolio" data-altura="10"></div>
				<div class="img_portfolio" data-altura="8"></div>
				<div class="img_portfolio" data-altura="6"></div>
				<div class="img_portfolio" data-altura="4"></div>
				<div class="img_portfolio" data-altura="2"></div>
				<div class="img_portfolio" data-altura="1"></div>
			</div>
		</div>
		<div class="container_img_banner">
			<img
				src="https://firebasestorage.googleapis.com/v0/b/mosqueda-cordova-992b2.firebasestorage.app/o/cover_image2.webp?alt=media&token=507b112d-7c95-43d5-b06c-59b240468bd5"
				alt="Banner"
				class="img_banner"
			/>
		</div>
	</div>
	<div class="card-body contenedor_cuerpo_tarjeta_previa_animacion">
		<div class="profile_image"></div>
		<div class="cuerpo_tarjeta_previa_animacion">
			<div class="row gap-2 my-3">
				<div class="d-flex gap-1 align-items-center">
					<h1 class="fs-3 mb-0 fw-bold">Isaac Mosqueda</h1>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						class="svgEspecial"
						viewBox="0 0 41 40"
						><path
							fill="url(#a)"
							fill-opacity=".3"
							stroke="url(#b)"
							stroke-linecap="round"
							stroke-width="2.5"
							d="M35.5 18.6v-4.8c0-2.7 0-4.1-.7-5-.6-.9-2.2-1.3-5.2-2.2-2.1-.6-4-1.3-5.4-2-2-.8-3-1.3-3.7-1.3-.7 0-1.7.5-3.7 1.4a41 41 0 0 1-5.4 2c-3 .8-4.6 1.2-5.2 2.1-.7.9-.7 2.3-.7 5v4.8c0 9.4 8.4 15 12.7 17.3 1 .5 1.5.8 2.3.8.8 0 1.3-.3 2.3-.8 4.3-2.3 12.7-7.9 12.7-17.3Z"
						></path><path
							stroke="#00795D"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2.5"
							d="M15.5 21.7s1.7 0 3.3 3.3c0 0 5.3-8.3 10-10"
						></path><defs
							><linearGradient
								id="a"
								x1="20.5"
								x2="20.5"
								y1="3.3"
								y2="36.7"
								gradientUnits="userSpaceOnUse"
								><stop stop-color="#00FF6F" stop-opacity=".4"
								></stop><stop offset="1" stop-color="#0FC"
								></stop></linearGradient
							><linearGradient
								id="b"
								x1="20.5"
								x2="20.5"
								y1="3.3"
								y2="36.7"
								gradientUnits="userSpaceOnUse"
								><stop stop-color="#00CD89"></stop><stop
									offset="1"
									stop-color="#029A67"></stop></linearGradient
							></defs
						></svg
					>
				</div>
				<h2 class="fs-5 text-body">
					Ing. de Sistemas | Especializado en desarrollo de software
				</h2>
			</div>

			<div class="d-flex flex-column gap-1">
				<div class="d-flex gap-2 align-items-center">
					<strong>4.8</strong>
					<div class="stars">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="star"
							viewBox="0 0 22 22"
							><path
								d="M11 0c.6 0 1.8.3 2.6 2l1.8 3.5a1.2 1.2 0 0 0 .7.6l3.2.5a3 3 0 0 1 2.6 2 3 3 0 0 1-1 3l-2.5 2.5a1.2 1.2 0 0 0-.3.9l.7 3a3.5 3.5 0 0 1-.4 3.2 2.2 2.2 0 0 1-1.7.8 4.4 4.4 0 0 1-2.2-.7l-3-1.8a1 1 0 0 0-.5-.1 1 1 0 0 0-.5.1l-3 1.8a4.3 4.3 0 0 1-2.2.7 2.2 2.2 0 0 1-1.7-.8 3.5 3.5 0 0 1-.4-3.1l.7-3.1a1.2 1.2 0 0 0-.3-.9l-2.5-2.5a3.1 3.1 0 0 1-1-3.1 3 3 0 0 1 2.6-1.9L6 6.1a1.2 1.2 0 0 0 .7-.5L8.4 2c.8-1.7 2-2 2.6-2Z"
								data-name="Path 14"></path></svg
						>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="star"
							viewBox="0 0 22 22"
							><path
								d="M11 0c.6 0 1.8.3 2.6 2l1.8 3.5a1.2 1.2 0 0 0 .7.6l3.2.5a3 3 0 0 1 2.6 2 3 3 0 0 1-1 3l-2.5 2.5a1.2 1.2 0 0 0-.3.9l.7 3a3.5 3.5 0 0 1-.4 3.2 2.2 2.2 0 0 1-1.7.8 4.4 4.4 0 0 1-2.2-.7l-3-1.8a1 1 0 0 0-.5-.1 1 1 0 0 0-.5.1l-3 1.8a4.3 4.3 0 0 1-2.2.7 2.2 2.2 0 0 1-1.7-.8 3.5 3.5 0 0 1-.4-3.1l.7-3.1a1.2 1.2 0 0 0-.3-.9l-2.5-2.5a3.1 3.1 0 0 1-1-3.1 3 3 0 0 1 2.6-1.9L6 6.1a1.2 1.2 0 0 0 .7-.5L8.4 2c.8-1.7 2-2 2.6-2Z"
								data-name="Path 14"></path></svg
						>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="star"
							viewBox="0 0 22 22"
							><path
								d="M11 0c.6 0 1.8.3 2.6 2l1.8 3.5a1.2 1.2 0 0 0 .7.6l3.2.5a3 3 0 0 1 2.6 2 3 3 0 0 1-1 3l-2.5 2.5a1.2 1.2 0 0 0-.3.9l.7 3a3.5 3.5 0 0 1-.4 3.2 2.2 2.2 0 0 1-1.7.8 4.4 4.4 0 0 1-2.2-.7l-3-1.8a1 1 0 0 0-.5-.1 1 1 0 0 0-.5.1l-3 1.8a4.3 4.3 0 0 1-2.2.7 2.2 2.2 0 0 1-1.7-.8 3.5 3.5 0 0 1-.4-3.1l.7-3.1a1.2 1.2 0 0 0-.3-.9l-2.5-2.5a3.1 3.1 0 0 1-1-3.1 3 3 0 0 1 2.6-1.9L6 6.1a1.2 1.2 0 0 0 .7-.5L8.4 2c.8-1.7 2-2 2.6-2Z"
								data-name="Path 14"></path></svg
						>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="star"
							viewBox="0 0 22 22"
							><path
								d="M11 0c.6 0 1.8.3 2.6 2l1.8 3.5a1.2 1.2 0 0 0 .7.6l3.2.5a3 3 0 0 1 2.6 2 3 3 0 0 1-1 3l-2.5 2.5a1.2 1.2 0 0 0-.3.9l.7 3a3.5 3.5 0 0 1-.4 3.2 2.2 2.2 0 0 1-1.7.8 4.4 4.4 0 0 1-2.2-.7l-3-1.8a1 1 0 0 0-.5-.1 1 1 0 0 0-.5.1l-3 1.8a4.3 4.3 0 0 1-2.2.7 2.2 2.2 0 0 1-1.7-.8 3.5 3.5 0 0 1-.4-3.1l.7-3.1a1.2 1.2 0 0 0-.3-.9l-2.5-2.5a3.1 3.1 0 0 1-1-3.1 3 3 0 0 1 2.6-1.9L6 6.1a1.2 1.2 0 0 0 .7-.5L8.4 2c.8-1.7 2-2 2.6-2Z"
								data-name="Path 14"></path></svg
						>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="star"
							viewBox="0 0 22 22"
							><path
								d="M11 0c.6 0 1.8.3 2.6 2l1.8 3.5a1.2 1.2 0 0 0 .7.6l3.2.5a3 3 0 0 1 2.6 2 3 3 0 0 1-1 3l-2.5 2.5a1.2 1.2 0 0 0-.3.9l.7 3a3.5 3.5 0 0 1-.4 3.2 2.2 2.2 0 0 1-1.7.8 4.4 4.4 0 0 1-2.2-.7l-3-1.8a1 1 0 0 0-.5-.1 1 1 0 0 0-.5.1l-3 1.8a4.3 4.3 0 0 1-2.2.7 2.2 2.2 0 0 1-1.7-.8 3.5 3.5 0 0 1-.4-3.1l.7-3.1a1.2 1.2 0 0 0-.3-.9l-2.5-2.5a3.1 3.1 0 0 1-1-3.1 3 3 0 0 1 2.6-1.9L6 6.1a1.2 1.2 0 0 0 .7-.5L8.4 2c.8-1.7 2-2 2.6-2Z"
								data-name="Path 14"></path></svg
						>
					</div>
					<div>en Google</div>
				</div>
				<a
					href="https://www.linkedin.com/in/mosquedacordova/"
					class="d-flex gap-2 align-items-center"
					target="_blank"
				>
					<strong>Linkedin</strong>
					<span>•</span> mosquedacordova
					<i class="hgi hgi-stroke hgi-share-01 text-body fs-5"></i>
				</a>
				<div class="d-flex gap-2 align-items-center">
					<i class="hgi hgi-stroke hgi-location-06 fs-5"></i>
					Lima <span>•</span> Perú
				</div>
			</div>

			<div class="d-flex flex-column flex-md-row gap-2 mt-4">
				<a
					href="/assets/PDF_Isaac_Mosqueda.pdf"
					download
					class="btn btn-outline-primary"
					target="_blank"
				>
					<div class="d-flex gap-1 align-items-center">
						<i
							class="hgi hgi-stroke hgi-download-circle-01 fs-3 text-body"
						></i>
						Descargar PDF
					</div>
				</a>
				<a
					href="https://api.whatsapp.com/send?phone=51945692831"
					class="btn btn-outline-primary"
					target="_blank"
				>
					<div class="d-flex gap-1 align-items-center">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							class="svgBtn"
							viewBox="0 0 40 40"
							><path
								fill="#FF6C6C"
								stroke="#FF4646"
								stroke-width="2.5"
								d="M20 36.7a16.7 16.7 0 1 0 0-33.4 16.7 16.7 0 0 0 0 33.4Z"
							></path><path
								stroke="#fff"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="3.3"
								d="M20 25h0"></path><path
								stroke="#fff"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2.5"
								d="M20 20v-6.7"></path></svg
						>
						Disponible para Urgencias
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="alerta_scroll text-center mt-5 fs-1">
	¡No hagas Scroll..!
	<div class="icon_alerta_scroll"><i class="hgi hgi-stroke hgi-circle-arrow-down-02"></i></div>
</div>

<style>
	.alerta_scroll{
		opacity: 0;
	}



	.cuerpo_tarjeta_previa_animacion {
		overflow: hidden;
	}
	.svgBtn {
		fill: none !important;
		height: 28px;
		width: 28px;
	}
	.svgEspecial {
		fill: none !important;
		height: 34px;
		width: 34px;
	}
	.star {
		height: 12px;
		fill: #ffde46;
	}
	.stars {
		display: flex;
		align-items: center;
		gap: 2px;
		position: relative;
		overflow: hidden;
	}

	/* Efecto de "brillo" */
	.shine,
	.stars::after {
		width: 100%; /* Ancho del brillo */
		height: 100%; /* Alto del brillo */
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 100%
		);
		position: absolute;
		top: 0;
		left: -100%; /* Empieza fuera del contenedor */
	}
	.shine {
		animation: shine-animation 1s infinite; /* Animación */
	}
	.stars::after {
		animation: shine-animation 2s infinite; /* Animación */
		content: " ";
	}
	.profile_image {
		width: 96px;
		height: 96px;
		background-color: #ddd;
		background-image: url("/assets/yo.webp");
		background-size: cover;
		border-radius: 1000px;
		border: 3px solid #f8f8f8;
		margin-top: -64px;
		position: relative;
		overflow: hidden;
		transform: scale(0);
	}
	@keyframes shine-animation {
		0% {
			left: -100%;
		}
		100% {
			left: 100%;
		}
	}
	.box {
		display: flex;
		gap: 2px;
		flex-direction: column;
		width: 30px;
		height: 100vh;
		flex-shrink: 0;
		transform: translateY(100vh);
	}
	.contenedor_banner {
		height: 120px;
		background-color: #000;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		border: 2px solid #000;
		border-radius: 8px;
		position: relative;
	}
	.container_img_banner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 0;
		height: 100%;
		overflow: hidden;
		border-top-left-radius: 1000px;
		border-bottom-left-radius: 1000px;
	}
	.container_img_banner img {
		height: 100%;
		object-fit: cover;
		position: absolute;
		right: 0;
	}
	.banner {
		height: 600px;
		width: 140%;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2px;
		position: absolute;
	}
	.img_portfolio {
		width: 100%;
		background-color: #f4f4f4;
		border-radius: 2px;
		flex-shrink: 0;
		overflow: hidden;
		display: flex;
		align-items: end;
	}

	@media (min-width: 767px) {
		.profile_image {
			width: 148px;
			height: 148px;
			margin-top: -96px;
		}
		.img_portfolio {
			border-radius: 4px;
		}
		.contenedor_banner {
			height: 220px;
		}
		.box {
			width: 100px;
			gap: 4px;
		}
		.banner {
			gap: 4px;
		}
	}
</style>

<script>
	const abuelo = document.querySelector(".contenedor_banner");
	const hijo = document.querySelector(".img_banner");
	const observer = new ResizeObserver((entries) => {
		for (let entry of entries) {
			const newWidth = entry.contentRect.width;
			hijo.style.width = `${newWidth}px`;
		}
	});

	observer.observe(abuelo);
	import { gsap } from "gsap";
	import { GSDevTools } from "gsap/GSDevTools";
	gsap.registerPlugin(GSDevTools);

	gsap.to("#gradientPreloader", {
		attr: { x1: "100%", x2: "120%" },
		repeat: 2,
		duration: 2,
		yoyo: true,
	});
	
	const tl1 = gsap.timeline({ id: "timeline1" });
	tl1.to(".preloader", {
			opacity: "0",
			duration: 2,
			delay: 2,
		})
		.to(".loading_temporal", {
			height: "0",
			duration: 0,
		})
		.from(".contenedor_banner", {
			height: "100vh",
			scale: 5,
			duration: 5,
			ease: "power2.out",
			
		})
		.to(".banner", {
			rotate: -24,
			duration: 1,
			delay: -3,
		})
		.to(".tarjeta_1", {
			overflow: "hidden",
			duration: 0,
		})
		.to(".contenedor_banner", {
			border: "0",
			borderRadius: "0",
			duration: 0.4,
			ease: "power1.in",
		})
		.to(".container_img_banner", {
			width: "100%",
			duration: 1,
			delay: -1,
			borderRadius: "0",
		})
		.to("body", {
			overflow: "auto",
			duration: 0,
		})
		.to("html", {
			overflow: "auto",
			duration: 0,
		})
		.to(".contenedor_fuera_de_mascara", {
			display: "flex",
			duration: 0,
		})
		.to(".alerta_scroll", {
			opacity: 1,
			duration: 1,
		}).to(".icon_alerta_scroll", {
			y: "8",
			duration: 1,
			repeat: -1,
			yoyo: true,
			ease: "power1.in",
		});

	const tl2 = gsap.timeline();
	tl2.from(".cuerpo_tarjeta_previa_animacion", {
		height: 0,
		duration: 1,
		delay: 6.5,
		id: "cuerpo_tarjeta_previa_animacion",
	}).to(".cuerpo_tarjeta_previa_animacion", {
		height: "auto",
		duration: 1,
	});

	const tl5 = gsap.timeline();
	tl5.to(".profile_image", {
		scale: 1,
		duration: 1,
		id: "profile_image",
		delay: 8.5,
	});

	// Al final del script, después de haber definido tl1
	setTimeout(() => {
		document.querySelectorAll(".box").forEach((box, index) => {
			gsap.to(box, {
				y: "0vh",
				duration: gsap.utils.random(1, 3),
				delay: index * 0.2,
			});
		});
	}, 2800); // Convertimos a milisegundos

	//GSDevTools.create();
</script>