.nonemov{
	display: none !important;
}

html, body, #container {
  width:100%;
  height:100%;
  background:#bda571;
  background: radial-gradient(ellipse at top left, #ecdcbf, #bda571);
  overflow: hidden;
}
div, svg {
  position: absolute;
}