---
import "../styles/bootstrap.scss";
import "../styles/fonts.css";
import "../styles/global.css";
const canonical = `https://mosquedacordova.com${Astro.url.pathname}`;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					"gtm.start": new Date().getTime(),
					event: "gtm.js",
				});
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-TM8FZ626");
		</script>
		<!-- End Google Tag Manager -->
		<title>Isaac Mosqueda</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<meta
			name="description"
			content="Systems Engineer | Specialized in Software Development."
		/>

		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Isaac Mosqueda" />
		<meta property="og:title" content="Isaac Mosqueda" />
		<meta
			property="og:description"
			content="Systems Engineer | Specialized in Software Development."
		/>

		<meta
			property="og:image"
			content="https://mosqueda-cordova-992b2.web.app/b1200.jpg"
		/>
		<meta
			property="twitter:image"
			content="https://mosqueda-cordova-992b2.web.app/b1200.jpg"
		/>
		<meta property="og:url" content="https://mosquedacordova.com" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:site" content="Isaac Mosqueda" />
		<meta property="twitter:title" content="Isaac Mosqueda" />
		<meta
			property="twitter:description"
			content="Systems Engineer | Specialized in Software Development."
		/>

		<meta name="author" content="Isaac Mosqueda" />
		<meta property="fb:app_id" content="1034040834725429" />
		<meta
			property="article:published_time"
			content="2020-06-15T10:00:00Z"
		/>

		<link
			as="image"
			type="image/jpeg"
			fetchpriority="high"
			href="https://mosqueda-cordova-992b2.web.app/b1200.jpg"
		/>

		<script type="application/ld+json">
			{
				"@context": "https://schema.org/",
				"@type": "Corporation",
				"name": "Isaac Mosqueda",
				"url": "https://mosquedacordova.com/",
				"logo": "https://mosqueda-cordova-992b2.web.app/favicon.ico",
				"sameAs": [
					"https://github.com/MOSQUEDACORDOVA",
					"https://www.instagram.com/imosquedacordova",
					"https://www.linkedin.com/in/mosquedacordova/"
				]
			}
		</script>

		<link
			rel="icon"
			href="https://mosqueda-cordova-992b2.web.app/favicon.ico"
			type="image/x-icon"
		/>

		<link
			rel="apple-touch-icon"
			href="https://mosqueda-cordova-992b2.web.app/favicon.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="120x120"
			href="https://mosqueda-cordova-992b2.web.app/favicon.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="114x114"
			href="https://mosqueda-cordova-992b2.web.app/favicon.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="72x72"
			href="https://mosqueda-cordova-992b2.web.app/favicon.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="57x57"
			href="https://mosqueda-cordova-992b2.web.app/favicon.png"
		/>
		<link rel="canonical" href={canonical} />
	</head>
	<body class="bg-black">
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-TM8FZ626"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
		<slot />
	</body>
</html>

<style>
	html,body{
		width: 100vw;
		overflow-x: hidden !important;
	}
</style>