---
import "../styles/bootstrap.scss";
import "../styles/fonts.css";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					"gtm.start": new Date().getTime(),
					event: "gtm.js",
				});
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-TM8FZ626");
		</script>
		<!-- End Google Tag Manager -->
		<title>Isaac Mosqueda</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta
			name="description"
			content="Systems Engineer | Specialized in Software Development."
		/>

		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Isaac Mosqueda" />
		<meta property="og:title" content="Isaac Mosqueda" />
		<meta
			property="og:description"
			content="Systems Engineer | Specialized in Software Development."
		/>

		<meta
			property="og:image"
			content="https://firebasestorage.googleapis.com/v0/b/mosqueda-cordova-992b2.firebasestorage.app/o/b1200.jpg?alt=media&token=5c2bf6d4-9a7b-4150-bda6-312876d96ba2"
		/>
		<meta
			property="twitter:image"
			content="https://firebasestorage.googleapis.com/v0/b/mosqueda-cordova-992b2.firebasestorage.app/o/b1200.jpg?alt=media&token=5c2bf6d4-9a7b-4150-bda6-312876d96ba2"
		/>
		<meta property="og:url" content="https://mosquedacordova.com" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:site" content="Isaac Mosqueda" />
		<meta property="twitter:title" content="Isaac Mosqueda" />
		<meta
			property="twitter:description"
			content="Systems Engineer | Specialized in Software Development."
		/>

		<meta name="author" content="Isaac Mosqueda" />
		<meta property="fb:app_id" content="1034040834725429" />
		<meta
			property="article:published_time"
			content="2020-06-15T10:00:00Z"
		/>

		<link
			rel="preload"
			as="image"
			type="image/jpeg"
			fetchpriority="high"
			href="https://firebasestorage.googleapis.com/v0/b/mosqueda-cordova-992b2.firebasestorage.app/o/b1200.jpg?alt=media&token=5c2bf6d4-9a7b-4150-bda6-312876d96ba2"
		/>

		<script type="application/ld+json">
			{
				"@context": "https://schema.org/",
				"@type": "Corporation",
				"name": "Isaac Mosqueda",
				"url": "https://mosquedacordova.com/",
				"logo": "https://firebasestorage.googleapis.com/v0/b/mosqueda-cordova-992b2.firebasestorage.app/o/favicon.ico?alt=media&token=0325c595-e4be-4e49-a5ec-6a43b5ca29ee",
				"sameAs": [
					"https://github.com/MOSQUEDACORDOVA",
					"https://www.instagram.com/imosquedacordova",
					"https://www.linkedin.com/in/mosquedacordova/"
				]
			}
		</script>

		<link
			rel="icon"
			href="https://firebasestorage.googleapis.com/v0/b/mosqueda-cordova-992b2.firebasestorage.app/o/favicon.ico?alt=media&token=0325c595-e4be-4e49-a5ec-6a43b5ca29ee"
			type="image/x-icon"
		/>

		<link
			rel="apple-touch-icon"
			href="https://firebasestorage.googleapis.com/v0/b/mosqueda-cordova-992b2.firebasestorage.app/o/favicon.png?alt=media&token=e8310ad2-607c-4946-943b-bbf57e5d27d7"
		/>
		<link
			rel="apple-touch-icon"
			sizes="120x120"
			href="https://firebasestorage.googleapis.com/v0/b/mosqueda-cordova-992b2.firebasestorage.app/o/favicon.png?alt=media&token=e8310ad2-607c-4946-943b-bbf57e5d27d7"
		/>
		<link
			rel="apple-touch-icon"
			sizes="114x114"
			href="https://firebasestorage.googleapis.com/v0/b/mosqueda-cordova-992b2.firebasestorage.app/o/favicon.png?alt=media&token=e8310ad2-607c-4946-943b-bbf57e5d27d7"
		/>
		<link
			rel="apple-touch-icon"
			sizes="72x72"
			href="https://firebasestorage.googleapis.com/v0/b/mosqueda-cordova-992b2.firebasestorage.app/o/favicon.png?alt=media&token=e8310ad2-607c-4946-943b-bbf57e5d27d7"
		/>
		<link
			rel="apple-touch-icon"
			sizes="57x57"
			href="https://firebasestorage.googleapis.com/v0/b/mosqueda-cordova-992b2.firebasestorage.app/o/favicon.png?alt=media&token=e8310ad2-607c-4946-943b-bbf57e5d27d7"
		/>
		<link rel="canonical" href="https://mosquedacordova.com" />

		<link
			rel="stylesheet"
			href="https://use.hugeicons.com/font/icons.css"
		/>
	</head>
	<body style="overflow: hidden;">
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-TM8FZ626"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
		<div class="loading_temporal">
			<div class="d-flex justify-content-center align-items-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 452 149"
					class="preloader"
				>
					<path
						d="M6 139.034C6 139.034 67 17.0343 143 28.0343C209 37.0343 192 121.034 257 139.034C344 163.034 446 4.03427 446 4.03427"
						stroke="white"
						stroke-opacity="0.2"
						stroke-width="13"></path>
					<path
						stroke="url(#gradientPreloader)"
						stroke-width="13"
						d="M6 139S67 17 143 28c66 9 49 93 114 111C344 163 446 4 446 4"
					></path>
					<defs>
						<linearGradient
							id="gradientPreloader"
							x1="-20%"
							x2="0%"
							y1="72.7"
							y2="72.7"
							gradientUnits="userSpaceOnUse"
						>
							<stop
								offset="0%"
								stop-color="#ff8709"
								stop-opacity="0"></stop>
							<stop offset="30%" stop-color="#ff8709"></stop>
							<stop offset="70%" stop-color="#f7bdf8"></stop>
							<stop
								offset="100%"
								stop-color="#f7bdf8"
								stop-opacity="0"></stop>
						</linearGradient>
					</defs>
				</svg>
			</div>
		</div>
		<div
			class="container d-flex justify-content-center flex-column align-items-center gap-2 mb-5"
		>
			<slot />
		</div>
	</body>
</html>

<style is:global>
	.loading_temporal {
		content: " ";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #000;
		z-index: 99;
		pointer-events: none;
		overflow: hidden;
	}
	.loading_temporal div {
		width: 100vw;
		height: 100vh;
	}
	.preloader {
		width: 22vw;
	}
	@media (max-width: 767px) {
		.preloader {
			width: 42vw;
		}
	}
</style>
